{% extends "header.html" %} {% block channel %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Dashboard</h1>
	<form role="form" method="post">
		<div>
			<input style="width: 300px;" name='channelkeyword' type="text"
				placeholder='Search channels by name'>
			<button type="submit" value='search'>Search</button>
		</div>
	</form>

	<div class='useractivityfilter'>
		<form role="form" method="post">
			<h2>Select a channel</h2>
			<select style='width: 300' name='channelid'> {% for channel
				in channelList%}
				<option value={{channel.id.channelId}}>{{ channel.title }}</option>
				{% endfor %}
			</select>
			<div>
				<h2 class="sub-header">User activity filter</h2>
				<select name='activitytype'>
					<option value='userview'>View</option>
					<option value='userlike'>Like</option>
					<option value='usercomment'>Comment</option>
					<option value='usershare'>Share</option>
					<option value='usersubscribe'>Subscribe</option>
				</select> <select name='topn'>
					<option value='1'>Top 1</option>
					<option value='5'>Top 5</option>
					<option value='10'>Top 10</option>
				</select> <select name='daterange'>
					<option value='1'>Yesterday</option>
					<option value='3'>Last 3 days</option>
					<option value='7'>Last 7 days</option>
					<option value='15'>Last 15 days</option>
					<option value='30'>Last 30 days</option>
					<option value='60'>Last 60 days</option>
				</select>
				<button type="submit" value='submit'>Submit</button>
			</div>
		</form>
	</div>
	<script type="text/javascript">
	$(function () { $('#container').highcharts({ title: { text: 'Monthly
	Average Temperature', x: -20 //center }, subtitle: { text: 'Source:
	WorldClimate.com', x: -20 }, xAxis: { categories: ['Jan', 'Feb', 'Mar',
	'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] },
	yAxis: { title: { text: 'Temperature (°C)' }, plotLines: [{ value: 0,
	width: 1, color: '#808080' }] }, tooltip: { valueSuffix: '°C' },
	legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle',
	borderWidth: 0 }, series: [{ name: 'Tokyo', data: [7.0, 6.9, 9.5, 14.5,
	18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6] }, { name: 'New York',
	data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6,
	2.5] }, { name: 'Berlin', data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6,
	17.9, 14.3, 9.0, 3.9, 1.0] }, { name: 'London', data: [3.9, 4.2, 5.7,
	8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8] }] }); });
	</script>
	<div id="container"
		style="min-width: 310px; height: 400px; margin: 0 auto"></div>



</div>
</div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../static/js/bootstrap/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/bootstrap/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
{% endblock %}
