<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test</title>

<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css"/>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
 
<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="../static/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap-multiselect.css" type="text/css"/>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example-getting-started').multiselect();
    });
</script>

</head>
<body>


<div>
<select id="example-getting-started" multiple="multiple">
    <option value="cheese">Cheese</option>
    <option value="tomatoes">Tomatoes</option>
    <option value="mozarella">Mozzarella</option>
    <option value="mushrooms">Mushrooms</option>
    <option value="pepperoni">Pepperoni</option>
    <option value="onions">Onions</option>
</select>
</div>


</body>

</html>